@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* h1 font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.container .head{
    position: absolute;
    top: 0%;
    left: 0%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0px 50px;
   z-index:100000 ;
}
.container .head img{
    width: 13%;
}
.container .head a{
    color: white;
    text-decoration: none;
    background-color: #e50914;
    padding: 8px 18px;
    border-radius: 5px;
}
.banner{
     /* width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    margin-top: -100px;
    background-size: cover;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    background-position: center;
    min-height: 810px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/a1dc92ca-091d-4ca9-a05b-8cd44bbfce6a/f9368347-e982-4856-a5a4-396796381f28/RS-en-20191230-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

.banner .fit{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
}
.banner:before{
    content:" ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,black),transparent;
}
.banner:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom,black),transparent;
}
.banner .box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;

}
.banner .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner .box .heading h1{
    font-size:65px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 800;
}
.banner .box .heading h5{
    font-size:23px;
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 1rem 0;
}
.banner .box .heading p{
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 500;
    padding: 15px 0;  
    padding-bottom: 20px;
}
.banner .box .search input{
   height: 70px;
   width: 580px;
   padding-left: 20px;
   font-size: 16px;
   outline: none;
   align-items: center;
   border-radius: 2px; 
}
.banner .box .search a{
    background-color: rgb(240, 8, 8);
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    border-radius: 2px;
    padding:20px 12px;
    color: white;
    height: 70px;
    width: 200px;
    letter-spacing: 0.2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 800;
}
.banner .box .search a:hover{
    background-color: red;
}
.banner .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.part1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.5rem solid rgb(71, 71, 71);
    border-top: 0.5rem solid rgb(71, 71, 71);
}
.part1 .talk{
    width: 40%;
    text-align: center;
    padding-top: 100px;
}
.part1 .talk h1{
    font-size:50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.part1 .talk p{
    font-size:28px;
    font-family: 'Open Sans', sans-serif;  
    font-weight: 500;
    padding: 15px ;  
}
.part1 .img{
    width: 45%;

}
.part1 .img img{
    width: 70%;
}

.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
}
.part2 .talk{
    width: 40%;
    text-align: center;
    padding-top: 100px;
}
.part2 .talk h1{
    font-size:50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.part2 .talk p{
    font-size:28px;
    font-family: 'Open Sans', sans-serif;  
    font-weight: 500;
    padding: 15px ;  
}
.part2 .img{
    width: 45%;

}
.part2 .img img{
    width: 70%;
}

